{% include 'header.html' %}
<div class="pagetitle">
    <h1>Billing</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Billing</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
    
    <table class="table table-borderless">
        <thead>
            <tr>
                <th colspan="9" class="text-center">Header Content</th>
            </tr>

            <tr>
                <th scope="col">S N</th>
                <th scope="col">DATE</th>
                <th scope="col">INVOICE NO</th>
                <th scope="col">L.R. NO.</th>
                <th scope="col">TRUCK NO</th>
                <th scope="col">Description of Goods</th>
                <th scope="col">Qty weight</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount Rs</th> 
                
            </tr>
        </thead>
        <tbody>
            {for}
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>
            <tr>
                <td>s n</td>
                <td>date</td>
                <td>invoice no</td>
                <td>l.r.no.</td>
                <td>truck no</td>
                <td>description of goods</td>
                <td>qty weight</td>
                <td>rate</td>
                <td>amount rs</td>                    
            </tr>

            <tr>
                <td colspan="9" class="text-center">Footer Content</td>
            </tr>
        </tbody>
    </table>
        
{% include 'footer.html' %}

